{% extends 'blog/base.html' %}

{% block title%}
    Password Recovering
{% endblock %}

{% block content %}
    <h2 class="mb-3">Password Recovering</h2>
    <div class="alert alert-light text-black p-3">
        <form method="post" class="form-register auth">
        {% csrf_token %}

            {{ form.as_p }}    <!--  поле как параграфы-->
            <button class="btn btn-danger" type="submit">Restore password</button>

        </form>
    </div>
{% endblock%}

{% block aside_block%}

{% endblock %}
