{% extends 'blog/base.html' %}

{% block title%}
    User`s profile
{% endblock %}

{% block content %}
<h1 class="mb-3">Your Profile</h1>
<div class="d-flex text-muted pt-3">
    <img class="user-images bd-placeholder-img flex-shrink-0 me-2" width="64"
         height="64" src="{{ user.profile.img.url}}">
    <p class="py-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
        {% if user.email %}
            <b>E-mail: {{ user.email }}</b>
        {% endif %}
    </p>
</div>
<form method="post" enctype="multipart/form-data" class="form-register mt-4">
    {% csrf_token %}
    {{ updateUserForm.as_p }}
    {{ profileForm.as_p }}
    {{ profileUpdateForm.as_p}}
    <button class="btn btn-outline-warning" type="submit">Update Profile</button>
</form>
{% endblock%}

{% block aside_block%}

{% endblock %}