{% extends 'blog/base.html' %}

{% block title%}
    {{ title }}
{% endblock %}

{% block content %}
    <h2 class="mb-3">{{ title }}</h2>
    <div class="alert alert-light text-black p-3">
        <form method="post" class="form-register">
        {% csrf_token %}
            {{ form.as_p }}    <!--  поле как параграфы-->
            <button class="btn btn-outline-warning" type="submit">Registration</button>
            <hr>
            <p>Already registered? <a href="{% url 'user' %}"> Sign in</a></p>
        </form>
    </div>

{% endblock%}

{% block aside_block%}

{% endblock %}