{% extends 'blog/base.html' %}

{% block title%}
    Sign in
{% endblock %}

{% block content %}
    <h2 class="mb-3">Sign in</h2>
    <div class="alert alert-light text-black p-3">
        <form method="post" class="form-register auth">
        {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-warning" type="submit">Sign in</button>
            <hr>
            <p>Not registered? <a href="{% url 'reg' %}"> Registration</a></p>
            <hr>
            <p>Forgot your password? <a href="{% url 'pass-reset'%}">Recover</a></p>
        </form>
    </div>

{% endblock%}

{% block aside_block%}

{% endblock %}