{% extends 'layout.html' %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block main %}
<div class="container user_forms">
    <div class="alert alert-success text-black p-3">
        <h2 class="mb-3">Восстановление пароля</h2>
        <form method="post" class="form-register auth">
        {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-danger" type="submit">Запрос нового пароля</button>

        </form>
    </div>
</div>
{% endblock%}

{% block aside_block%}

{% endblock %}
