{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
<div class="container user_forms">
    <div class="alert alert-success text-black p-3">
        <h2 class="mb-3">{{ title }}</h2>
        <form method="post" class="form-register">
        {% csrf_token %}
            {{ form.as_p }}    <!--  поле как параграфы-->
            <button class="btn btn-outline-success" type="submit">Зарегистрироваться</button>
            <hr>
            <p>Уже есть аккаунт? <a href="{% url 'user' %}"> Авторизация</a></p>
        </form>
    </div>
</div>
{% endblock%}
